<a href="https://colab.research.google.com/github/I-ownthispage/Mypage/blob/master/ClassifierModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
import pandas as pd
import numpy as nm 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
import string
import matplotlib.pyplot as plt
%matplotlib inline

In [98]:
dset = pd.read_csv("/content/Spam.txt",sep='\t',names=['Class','Message'])
dset.head(8)

  Class                                            Message
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!
5   ham  As per your request 'Melle Melle (Oru Minnamin...
6  spam  WINNER!! As a valued network customer you have...
7  spam  Had your mobile 11 months or more? U R entitle...

In [99]:
dinfo=dset.info()
dinfo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5567 entries, 0 to 5566
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Class    5567 non-null   object
 1   Message  5567 non-null   object
dtypes: object(2)
memory usage: 87.1+ KB

In [100]:
dset.describe()

       Class                 Message
count   5567                    5567
unique     2                    5164
top      ham  Sorry, I'll call later
freq    4821                      30

In [101]:
dset['Length'] = dset['Message'].apply(len)

In [102]:
dset.head(8)

  Class                                            Message  Length
0   ham  I've been searching for the right words to tha...     196
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
2   ham  Nah I don't think he goes to usf, he lives aro...      61
3   ham  Even my brother is not like to speak with me. ...      77
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!      36
5   ham  As per your request 'Melle Melle (Oru Minnamin...     160
6  spam  WINNER!! As a valued network customer you have...     157
7  spam  Had your mobile 11 months or more? U R entitle...     154

In [103]:
dset.groupby('Class').count()

       Message  Length
Class
ham       4821    4821
spam       746     746

In [104]:
dset['Length'].describe()

count    5567.000000
mean       80.450512
std        59.892646
min         2.000000
25%        36.000000
50%        62.000000
75%       122.000000
max       910.000000
Name: Length, dtype: float64

In [105]:
dset[dset['Length']==910]['Message'].iloc[0]

"For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later.."

In [106]:
dObject = dset['Class'].values
dObject

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [107]:
dset['Class'] = dset.Class.map({"ham":1, "spam":0})
print(dset.shape)
dset.head()

(5567, 3)

   Class                                            Message  Length
0      1  I've been searching for the right words to tha...     196
1      0  Free entry in 2 a wkly comp to win FA Cup fina...     155
2      1  Nah I don't think he goes to usf, he lives aro...      61
3      1  Even my brother is not like to speak with me. ...      77
4      1               I HAVE A DATE ON SUNDAY WITH WILL!!!      36

In [110]:
dObject2=dset['Class'].values


dObject2

array([1, 0, 1, ..., 1, 1, 1])

In [111]:
dset.head(8)

   Class                                            Message  Length
0      1  I've been searching for the right words to tha...     196
1      0  Free entry in 2 a wkly comp to win FA Cup fina...     155
2      1  Nah I don't think he goes to usf, he lives aro...      61
3      1  Even my brother is not like to speak with me. ...      77
4      1               I HAVE A DATE ON SUNDAY WITH WILL!!!      36
5      1  As per your request 'Melle Melle (Oru Minnamin...     160
6      0  WINNER!! As a valued network customer you have...     157
7      0  Had your mobile 11 months or more? U R entitle...     154

In [112]:
def cleanMessage(message):
    nonPunc = [char for char in message if char not in string.punctuation]
    nonPunc = "".join(nonPunc)
    return nonPunc

In [113]:
dset['Message'] = dset['Message'].apply(cleanMessage)

In [114]:
dset.head(8)

   Class                                            Message  Length
0      1  Ive been searching for the right words to than...     196
1      0  Free entry in 2 a wkly comp to win FA Cup fina...     155
2      1  Nah I dont think he goes to usf he lives aroun...      61
3      1  Even my brother is not like to speak with me T...      77
4      1                  I HAVE A DATE ON SUNDAY WITH WILL      36
5      1  As per your request Melle Melle Oru Minnaminun...     160
6      0  WINNER As a valued network customer you have b...     157
7      0  Had your mobile 11 months or more U R entitled...     154

In [115]:
dset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5567 entries, 0 to 5566
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Class    5567 non-null   int64
 1   Message  5567 non-null   object
 2   Length   5567 non-null   int64
dtypes: int64(2), object(1)
memory usage: 130.6+ KB

In [116]:
CV = CountVectorizer(stop_words="english")

In [117]:
print(CV)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [118]:
x = dset['Message']
y = dset['Class'].values

In [119]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.20, random_state=101)

print('Number of rows in the total set: {}'.format(dset.shape[0]))
print('Number of rows in the training set: {}'.format(x_train.shape[0]))
print('Number of rows in the test set: {}'.format(x_test.shape[0]))

Number of rows in the total set: 5567
Number of rows in the training set: 4453
Number of rows in the test set: 1114

In [128]:
training_data = CV.fit_transform(x_train)
testing_data = CV.transform(x_test)

In [129]:
x_train_CV = CV.fit_transform(x_train)

In [130]:
NB = MultinomialNB()
NB.fit(x_train_CV,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [131]:
x_test_CV = CV.transform(x_test)

In [132]:
y_predict = NB.predict(x_test_CV)

In [133]:
from sklearn.metrics import confusion_matrix

confusion_m=confusion_matrix(y_test,y_predict)

print(confusion_m)

[[129  15]
 [  6 964]]

In [136]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [141]:
print('Accuracy score: ', format(accuracy_score(y_test, predictions)*100))
print('Precision score: ', format(precision_score(y_test, predictions)*100))
print('Recall score: ', format(recall_score(y_test, predictions)*100))
print('F1 score: ', format(f1_score(y_test, predictions)*100))

Accuracy score:  98.1149012567325
Precision score:  98.46782431052094
Recall score:  99.38144329896907
F1 score:  98.92252437147255

In [142]:
msg = input("Enter Message: ")
msgInput = CV.transform([msg])
predict = NB.predict(msgInput)
if(predict[0]==0):
  {
    print("------------------------MESSAGE-SENT-[CHECK-SPAM-FOLDER]---------------------------")
    
  }
else:
    print("---------------------------MESSAGE-SENT-[CHECK-INBOX]------------------------------")

Enter Message: England v Macedonia - dont miss the goals/team news. Txt ur national team to 87077 eg ENGLAND to 87077 Try:WALES, SCOTLAND 4txt/Ãº1.20 POBOXox36504W45WQ 16+
------------------------MESSAGE-SENT-[CHECK-SPAM-FOLDER]---------------------------